/*-- KENOZOIK --*/
body {
	background-color: #595959;
	font-family: 'Verdana', sans-serif;
	font-size: 150%;
	color: #fff;
	text-align: center;
}
#logo {
	padding-top: 25px;
	border: 0px;
	width: 100%;
	height: 100%;
	margin: auto;
}
#pitanje {
	padding: 25px 0;
	font-size: 120%;
	font-family: 'Oldenburg', sans-serif;
	color: #fff;
}
.asparagus {
	color: #6dbd45;
}
.meso {
	color: #fd8c94;
 }
.batak {
	color: #e6992b;
 }
 #vampir {
	text-decoration: underline;
 }
 #vampir:hover {
	color: #e6992b;
 }
#search {
	border: 3px #ccc solid;
	margin: auto;
	width: 700px;
	height: 70px;
	box-shadow: #333 2px 2px;
	border-radius: 50px;
	background: #bfbfbf;
}
#search_holder {
	width: 510px;
	margin: auto;
	margin-bottom: 25px;
	margin-top: 20px;
	}
#search_box {
	display: inline;
	background: #ffffff;
	width: 380px;
	height: 18px;
	border-radius: 5px;
	border: 2px solid #404040;
	padding-bottom: 5px;
	z-index: 2;
}
input[type=text] {
	width: 310px;
	padding-left: 7px;
	height: 18px;
	background-color: transparent;
	border: 0px;
}
input[type=text]:focus { /*-- da se ne pojavi plavi okvir kad se klikne u polje --*/
	outline: 0;
}
#search_button {
	display: inline;
}
#button {
	font-family: 'Oldenburg', cursive;
	border: 2px solid #404040;
	height: 28px;
	border-radius: 5px;
	color: #404040;
	background: #fd8c94;
	box-shadow: #999 1px 1px;
}
#button:focus  {
	outline: 0;
}
#button:active {
	box-shadow: 0px 0px;
	color: #999;
}
#cap {
	text-transform:capitalize;
}
.move {
	padding-top: 50px;
}
#rotator {
	padding-left: 10px;
	padding-right: 10px;
	width: 600px;
	height: 200px;
	margin: auto;
	text-align: left;
	border: 2px solid #e6992b;
	overflow: auto;
	}

@media screen and (max-width: 900px) { /*-- 150% zoom --*/
	#logo {
		margin: auto;
		width: 20%;
		height: 20%;
	}
	#search {
		width: 100%;
	}
	.move {
		padding-top: 10px;
	}
	#pitanje {
		padding: 5px 0;
	}

@media screen and (max-width: 620px) { /*-- 250% zoom --*/
	#pitanje {
		font-size: 75%;
	}
	#rotator {
		width: 90%;
		overflow: none;
		height: 100%;
	}
	.move {
		padding-top: 5px;
	}
	#search {
		background-color: transparent;
		border: 0;
		width: 100%;
		box-shadow: 0px 0px;
		border-radius: 0px;
	}
	#search_holder {
		width: 100%;
	}
	input[type=text] {
		width: 80%;
		padding-left: 7px;
	}
	#search_button {
		display: block;
		margin-top: 10px;
		width: 100%;
	}
	#button {
		width: 82%;
	}
}

@media screen and (max-width: 500px) { /*-- 300% zoom --*/
	#logo {
		display: none;
	}
	
}